.appHeader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 60px;
    background-color: $secondary-clr;
    
    >.container{
        @include flexBox(row , space-between);
        width: 100%;
        height: inherit;
        
        >.logo{
            @include flexBox(row , center);
            height: inherit;
            width: fit-content;

            >img{
                max-width: 100%;
                margin-left: 15px ;
                margin-right:15px ;
            }
            .logoText{
                text-transform: capitalize;
                color: #fff;
                font-size: 1.3rem;
            }

        }

        .navgationBar{
            @include flexBox(row , center);
            gap: 5px;

            >a{
                padding: 0.5rem 1.2rem;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                transition: background-color 0.2s ease-in-out;

                &:hover,
                &.active{
                    background-color: $therd-clr;
                    border-radius: 1rem 0 1rem 0;
                }
            }
        }
    }
}